In [1]:
import pandas as pd
from io import StringIO

# CSV data as a string
csv_data = """
FINANCIAL_YR,ACC,ADM,CER,COM,EST,HND,MBE,MET,MMG,MS0,MTT,PNT,POL,QAE,TSO,VSG,WEG,WLF
2005,2,2,460,10,1714,0.2,337,7.1,0.1,25,0.1,366.4,330.9,19,0.1,0.1,0.1,1
2006,2,2,460,10,1714,0.2,337,7.1,0.1,25,0.1,366.4,330.9,19,0.1,0.1,0.1,1
2007,2,2,460,10,1714,0.2,337,175,0.1,25,0.1,366.4,330.9,19,0.1,0.1,0.1,1
2008,0.1,0.1,521,21,1930,0.15,264.5,50,0.1,0.1,0.1,196,189,19,0.1,0.1,0.1,0.1
2009,0.3,0.3,70,0.3,50,0.3,45.3,45,0.3,0.3,0.3,35,1443,19,0.3,0.3,0.3,0.5
2010,0.3,0.3,5000,0.3,50,0.3,45.3,45,0.3,0.3,0.3,35,1443,19,0.3,0.3,0.3,0.5
2011,0.3,0.3,14,0.3,50,50,200,32,0.3,0.3,0.3,35,1443,19,0.3,6,0.3,0.5
2012,15,15,1171.9,50,19315,0.2,389.8,1717,50,0.5,45,435,1287,19,5,300,0.5,10
2013,5,7.1,428.75,100,10352,2,403.33,1569.75,20,2,55,156.75,727.05,3.33,12,373.4,1.5,3
2014,1,26.7,692.7,225,39114.92273,0.3,284.15,2365,20,11,7,225,2070,14,10,733,1,20
2015,5,5,721.5,244,22605,1,300,2575.5,28.5,9.4,50,110.5,663.5,9,1,600,1.5,18
2016,5,4,411.6,1,22588,4,427,1654,43,55,42,310,1805,15,10,5,100,7
2017,1,12.25,520,28.25,10230,0.5,314.5,662,3,5,60,737,3087,20,4,5,100,7
2018,1.2,10,545.5,15,9596,2.44,500,519.8,20,5,60,792.3,1746,105,10,202,102,9.75
2019,7,9,473,28.1,8979,1.65,220.3,1237,15,5,32,367,1698.055,35,13,14,297,10.25
2020,3.2,15,758,50,6895,1.5,101.1,820.9,25,5,51.05,504.8,667.4,5.0003,13,57,6.7,5
2021,2,14,96.5,83,3511.36,2,219.53,1186.5,20,5,50,653.77,928.74,70,11,5,5,15.25
2022,2,14,343.5,26,1537.312,2,11,147.7,20,5,38,3178,150.99,2.5,11,28,5,15.25
2023,2,14,824,26,18634,2,16.826,28,20,5,38,3178,131.5,2.5,11,123,10,15.25
2024,2,14,1769.8,26,18634,2,16,28,20,5,38,3178,8,2.5,11,73,6.7,15.25
"""

# Convert the CSV string to a DataFrame
data = pd.read_csv(StringIO(csv_data))

data.head()

,FINANCIAL_YR,ACC,ADM,CER,COM,EST,HND,MBE,MET,MMG,MS0,MTT,PNT,POL,QAE,TSO,VSG,WEG,WLF
0,2005,2.0,2.0,460.0,10.0,1714.0,0.20,337.0,7.1,0.1,25.0,0.1,366.4,330.9,19.0,0.1,0.1,0.1,1.0
1,2006,2.0,2.0,460.0,10.0,1714.0,0.20,337.0,7.1,0.1,25.0,0.1,366.4,330.9,19.0,0.1,0.1,0.1,1.0
2,2007,2.0,2.0,460.0,10.0,1714.0,0.20,337.0,175.0,0.1,25.0,0.1,366.4,330.9,19.0,0.1,0.1,0.1,1.0
3,2008,0.1,0.1,521.0,21.0,1930.0,0.15,264.5,50.0,0.1,0.1,0.1,196.0,189.0,19.0,0.1,0.1,0.1,0.1
4,2009,0.3,0.3,70.0,0.3,50.0,0.30,45.3,45.0,0.3,0.3,0.3,35.0,1443.0,19.0,0.3,0.3,0.3,0.5